@import './variables';

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Light.woff2') format('woff2'),
		url('./fonts/Avenir-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Book.woff2') format('woff2'),
		url('./fonts/Avenir-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Roman.woff2') format('woff2'),
		url('./fonts/Avenir-Roman.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
		url('./fonts/Avenir-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Heavy.woff2') format('woff2'),
		url('./fonts/Avenir-Heavy.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('./fonts/Avenir-Black.woff2') format('woff2'),
        url('./fonts/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html,
body {
	height: 100%;
}


body {
	font-family: "Avenir", sans-serif;
	color: $color-text;
	background-color: $color-background;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.55em;
	margin: 0;
	-ms-overflow-style: none;
}

ul,
li {
	width: auto;
}

ul {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

li {
	text-align: left;
}

h1,
h2,
h3,
h4 {
	font-family: "Avenir", sans-serif;
}

h1,
h2 {
	font-weight: 900;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.2;
	padding: $padding*0.3 $padding*0.35;
	background: #fff;
	border: none;
	border-radius: 6px;
	color: rgba($color-text, 0.5);
	box-shadow: 0.07rem 0.07rem 0.3rem rgba(0, 0, 0, .1);
}

.container {
	position: relative;
	display: block;
	margin: auto;
	width: 100%;
	max-width: $width;
	padding-left: $padding;
	padding-right: $padding;
	box-sizing: border-box;
}

.btn {
	font-family: "Avenir", sans-serif;
	cursor: pointer;
	display: inline-block;
	width: auto;
	position: relative;
	line-height: 1.25;
	padding: $padding*0.35 $padding*0.5;
	border: 2px solid $color-primary;
	color: #fff;
	background: $color-primary;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;

	-webkit-transition: all $transition-time ease-in-out;
	-moz-transition: all $transition-time ease-in-out;
	-o-transition: all $transition-time ease-in-out;
	transition: all $transition-time ease-in-out;

	@media(max-width: 768px) {
		padding: $padding*0.3 $padding*0.4;
	}


	&:hover,
	:focus {
		text-decoration: none;
		background: $color-secondary;
		color: #fff;
		border-color: $color-secondary;
	}

}

.row {
	display: flex;
	align-items: center;

	.col {
		flex: 'flex-grow';
	}
}

#table-maker {
	display: flex;
	vertical-align: middle;
	align-items: center;
	min-height: 100vh;
	padding-top: $padding*2;
	padding-bottom: $padding*2;

	h1 {
		font-size: 4.7rem;
		margin-bottom: $padding;
		line-height: 1.03;
		font-weight: 900;
		margin-top: 0;

		span {
			color: $color-primary;
		}

		@media(max-width: 500px) {
			font-size: 3rem;
		}
	}
}


.table {
	font-size: 0.75rem;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	width: 100%;
	text-align: left;
	color: #666;
	margin: 0;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, .1);

	thead {
		th {
			border-bottom: 0;
			padding: 0.75rem 1rem;
			color: #fff;
			border-right: 1px solid rgba($color-border-alt, 0.2);

			&:last-child {
				border: none;
			}

			&:focus {
				outline: none;
				outline-style: none;
				box-shadow: inset 0px 0px 0px 1px rgba($color-primary, .5);
			}
		}
	}

	tbody {
		background-color: #fff;

		td {
			padding: 0.75rem 1rem;
			border-right: 1px solid rgba($color-border-alt, 0.1);

			&:last-child {
				border: none;
			}

			&:focus {
				outline: none;
				outline-style: none;
				box-shadow: inset 0px 0px 0px 1px rgba($color-primary, .25);
			}
		}

		tr {
			&:nth-child(2n) {
				background-color: rgba($color-border-alt, 0.1);
			}

		}
	}

	&.center {
		text-align: center;

		td,
		th {
			text-align: center;
		}
	}
}



.table-actions {
	display: block;
	width: 100%;

	.table-action {
		position: relative;
		text-align: center;
		width: 28px;
		height: 28px;
		font-size: 12px;
		padding: $padding*0.24 $padding*0.23;
		border-radius: $padding;
		background: $color-primary;
		line-height: 1;
		color: #fff;
		cursor: pointer;
		-webkit-transition: all $transition-time ease-in-out;
		-moz-transition: all $transition-time ease-in-out;
		-o-transition: all $transition-time ease-in-out;
		transition: all $transition-time ease-in-out;

		&:hover {
			background: $color-secondary;
		}

		.tooltiptext {
			visibility: hidden;
			width: 120px;
			background-color: black;
			color: #fff;
			text-align: center;
			padding: $padding*0.25 $padding*0.3;
			border-radius: 6px;
			position: absolute;
			width: 120px;
			bottom: calc(100% + 10px);
			left: 50%;
			margin-left: -60px;
			z-index: 1;
		}

		&:hover {
			.tooltiptext {
				visibility: visible;
			}
		}
	}

	&.vertical {
		margin-left: $padding*0.5;
		text-align: center;

		.table-action {
			margin-bottom: $padding*0.25;
		}
	}

	&.horizontal {
		margin-top: $padding*0.5;
		text-align: left;

		.table-action {
			text-align: center;
			display: inline-block;
			margin-right: $padding*0.25;
		}
	}
}

.table-wrapper {
	align-items: flex-start;

	.col {
		&:first-child {
			width: 100%;
		}
	}
}



.output-wrapper {
	display: flex;
	align-items: center;
	margin-top: $padding;
	box-shadow: 0.07rem 0.07rem 0.3rem rgba(0, 0, 0, .1);

	input {
		width: 100%;
		font-family: "Source Code Pro", monospace;
		font-weight: 400;
		font-size: 0.75rem;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		color: rgba($color-text, 0.5);
		box-shadow: none;
	}

	.btn-copy {
		font-family: "Avenir", sans-serif;
		font-weight: 700;
		font-size: 0.75rem;
		cursor: pointer;
		width: 160px;
		line-height: 1.2;
		background: $color-primary;
		text-align: center;
		color: #fff;
		padding: $padding*0.3 $padding*0.35;
		border: none;
		border-radius: 6px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		-webkit-transition: all $transition-time ease-in-out;
		-moz-transition: all $transition-time ease-in-out;
		-o-transition: all $transition-time ease-in-out;
		transition: all $transition-time ease-in-out;

		&:hover,
		:focus {
			text-decoration: none;
			background: $color-secondary;
			color: #fff;
		}
	}
}

.toolbar-wrapper {
	display: table;
	margin: $padding 0 0;
	width: auto;
	position: relative;

	h3 {
		text-align: left;
		font-size: 15px;
		margin: 0 0 $padding*0.4;
		line-height: 1;
		font-weight: 700;
	}
}

.toolbar {
	display: block;
	margin: 0;
	background: #fff;
	padding: $padding*0.4 $padding*0.4 $padding*0.4+$option-offset;
	border-radius: 6px;
	box-shadow: 0.07rem 0.07rem 0.3rem rgba(0, 0, 0, .1);

	.row {
		justify-content: center;
		align-items: flex-end;
		margin-left: -$col-spacing;
		margin-right: -$col-spacing;

		.col {
			margin-top: auto;
			padding-left: $col-spacing;
			padding-right: $col-spacing;

			.row {
				margin-left: -$option-spacing;
				margin-right: -$option-spacing;

				@media(max-width: 500px) {
					display: block;
				}

				.col {
					padding-left: $option-spacing;
					padding-right: $option-spacing;
					position: relative;
				}
			}
		}

	}

	.react-numeric-input {
		position: relative;
		display: block !important;
		padding-right: 14px;

		input {
			font-family: "Source Code Pro", monospace;
			font-weight: 400 !important;
			font-size: $option-font-size !important;
			width: 34px !important;
			box-shadow: none !important;
			border-radius: 0px !important;
			padding: 0 !important;
			line-height: 1 !important;
			border: none !important;
			outline-style: none !important;
			box-shadow: none !important;
			color: rgba($color-text, 0.5) !important;
			text-align: center;

			&#table_fontsize {
				width: 24px !important;
			}

		}

		b {
			display: none !important;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: -$padding*0.15;
			bottom: -$option-offset;
			left: 0;
			right: 0;
			border-bottom: 1px solid $color-primary;
		}

		&:before {
			font-family: "Source Code Pro", monospace;
			content: "px";
			display: block;
			position: absolute;
			right: 0;
			font-size: $option-font-size;
			font-weight: 400;
			line-height: 1;
			color: rgba($color-text, 0.5);
			bottom: 0;
		}
	}

	label {
		font-family: "Avenir", sans-serif;
		font-size: $option-font-size;
		font-weight: 400;
		line-height: 1em;
		display: block;
		position: relative;
		margin: 0;
		padding: 0;

		@media(max-width: 500px) {
			margin-bottom: $padding*0.15;
		}
	}

}

.colorpicker {
	display: flex;
	align-items: flex-end;

	.swatch {
		padding: 0;
		display: inline-block;
		cursor: pointer;
		margin-bottom: -$option-offset*0.5;

		.color {
			border-radius: 6px;
			width: 36px;
			height: 18px;
			border-radius: 0px;
		}
	}

	.popover {
		position: absolute;
		bottom: 100%;
		z-index: 2;

		.cover {
			position: fixed;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
	}

}

.footer {
	margin-top: $padding*2;
	border-top: 1px solid rgba($color-text, 0.1);
	padding: $padding 0;

	.col {
		width: 100%;
	}

	.social-media {
		text-align: right;

		a {
			position: relative;
			margin-top: -4px;
			text-align: center;
			display: inline-block;
			color: $color-background;
			background-color: rgba($color-text, 0.25);
			font-size: 1.05rem;
			line-height: 1;
			padding: 0.5rem 0.5rem;
			border-radius: 3rem;
			width: 32px;
			height: 32px;
			margin-left: $padding*0.25;
			-webkit-transition: all $transition-time ease-in-out;
			-moz-transition: all $transition-time ease-in-out;
			-o-transition: all $transition-time ease-in-out;
			transition: all $transition-time ease-in-out;

			&:hover,
			:focus {
				color: $color-background;
				background-color: $color-primary;
			}
		}
	}

	.copyright {
		text-align: left;
		font-size: 12px;
		color: rgba($color-text, 0.45);
	}

}