$padding: 36px;
$width: 900px;
$transition-time: 0.3s;
$color-text: #121212;
$color-primary:  #5342ff;
$color-secondary:#0091ff;
$color-background: #f5f6f8;
$color-border: #d1d9e7;
$color-border-alt: #0d3b7d;